<header >

<img src="./assets/img/Logo-transparente-peq.png" alt="Logotipo MyTools - Caixa de ferramentas">
<h1>MyTools</h1>
</header>

<nav class="hborder">
  <a routerLink="/home"><i class="fas fa-fw fa-home"></i></a>

  <div id="links">
  <a routerLink="/list"><i class="fas fa-fw fa-toolbox"></i> Suas Ferramentas</a>
  <a routerLink="/new"><i class="fas fa-fw fa-plus-square"></i> Nova Ferramenta</a>
  <a routerLink="/about"><i class="fas fa-info-circle"></i>  Sobre o MyTools</a>
</div>
 <a id="menu" (click) ='menuToggle()'><i class="fas fa-fw fa-ellipsis-v"></i></a>
</nav>

<main>
<router-outlet></router-outlet>
</main>

<footer>

<div id="copy">
<i class="far fa-fw fa-copyright"></i>   2020 &nbsp; &nbsp; MyTools.
</div>

<div id="social">
  <a target="#blank" href="http://facebook.com/dioinjpa"><i class="fab fa-facebook-square"></i></a>
  <a target="#blank" href="https://www.instagram.com/dioinoficial"><i class="fab fa-instagram-square"></i></a>
  <a target="#blank" href="https://www.linkedin.com/in/leandro-ferreira-7b186299"><i class="fab fa-linkedin"></i></a>
</div>

</footer>
