header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
}

header h1 {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: .4rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .9);
  margin: 0 .6rem;
}

nav>a {
  border-radius: .4rem;
}

nav a {
  display: block;
  padding: .5rem;
  text-transform: uppercase;
  border: none;
}

#links a {
  width: 100%;
}

nav>a:hover {
  background: black;
  color: rgb(253, 228, 86);
}

#links a:hover {
  color: rgb(255, 235, 169);
}

#links {
  font-size: 12px;
  display: none;
  position: absolute;
  top: 2.5rem;
  right: 0;
  background: rgb(34, 28, 0);
  margin: 0 .6rem;
  padding: 0 .8rem;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(255, 255, 255, .3);
}

#links i {
  margin-right: .3rem;
}

main {
  background: rgba(0, 0, 0, 0.72);
  margin: 0 .6rem;
  padding: 0 .8rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .9);
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: .4rem;
  font-style: italic;
  font-size: .8rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .9);
  margin: 0 .6rem;
}

footer i {
  font-size: 1rem;
}

nav, footer {
  color: rgb(253, 228, 86);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

#social a {
  top: 2.5rem;
  right: 0;
  margin: 0 .6rem;
  padding: 0 .8rem;
  display: inline-block;
  border: none;
  padding: 0.2rem;
}

#social a:hover {
  background: black;
  color: rgb(253, 228, 86);
  border-radius: 5px;
}

/* Stick footer */

html, body, .wrap, app-root {
  position: relative;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: .5rem;
}

main {
  flex-grow: 1;
  margin: .6rem;
}

/* Responsividade do app */

@media ( min-width: 550px) {
  #menu {
    display: none;
  }
  #links {
    position: relative;
    display: block;
    top: 0;
    margin: 0;
    background: transparent;
  }
  #links a {
    margin: 0 0 0 1rem;
    display: inline-block;
  }
}
